*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}
body{
    width: 100vw;
}
.vertical-line {
    border: 1px solid white;
    height: 100px;
    width: 1px;
    margin: 2rem;
}
header {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 0;
    max-width: 100vw;
}
.name {

font-size: 2.7rem;
font-weight:800;
}
header ul {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
li {
padding:0.5ch;
}
.appointments {
    padding: 1ch 1ch;
    color: #e827c5;
    border: 1px solid #e827c5;
    border-radius: 10px;
    font-weight: 600;
    margin: 0;
}
.dark {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    margin: 0;

}
.pink {
    color: #e827c5;
}
.intro {
    width: 100vw;
    background-image:url(/images/heart-hand-woman-nurse.webp);
    background-repeat: no-repeat;
    background-size:cover;
    height: 40vh;    
}
.into__text {
color: white; 
text-align: center;
margin: 0 auto;
padding: 1vh;
}
.menu__header {
    text-align: center;
}
.icons {
    font-size: 4rem;
    color: #e827c5;
}
.title {
font-size: 1.4rem;
font-weight: 700;
}
.menu__container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 100vw;
}
.menu__card {
    max-width: 30%;
}
.top__card, .bottom__card {
    background-color: #fffdfc;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid #a8a5a5;
    padding: 2vw;
    margin: 1vw 0;
    box-shadow: 1px 2px 5px;

}/*
#services{
     background-image: url(/images/in-lab.webp.jpg);
     background-repeat: no-repeat;
     background-position: left;
    background-color: yellow;
}
.position{
    position:relative;
    display: flex;
    flex-direction: row;
}
.tag{
    background-color:#e827c5;
    color: white;
    max-width: 17ch;
    text-align: center;
    font-size: 0.7rem;
    padding: 2ch 4ch;
    position: absolute;
    top: 20px;
    left: 2rem;
    z-index: 1;

}
.tag i {
    font-size: 3rem;
} 
#services i{
font-size: 2rem;
color:#e827c5;
margin: 0 0.5ch;
}

.article {
    background-color: white;
    padding: 1rem;
    position: absolute;
    lefi
}
.patient {
    border: 2px solid white;

}
.article ul{
    list-style: none;
    padding: 0;;
    display: grid;
    max-width: 40ch;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: center;
}
.article li{
    display: flex;
    justify-content: center;
    text-align: center;
}*/
#contact {
  background-image: url(/images/psychology-services.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    background-color: black;
    color: white;
  
}
.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.blue{
    background-color: rgba(0, 0, 255, 0.2);
    width: 100%;
    height:100%;
}
.contact__header{
    text-align: center;
    width: 35ch;
    margin: 0 auto;
    font-size: 1.3rem;
}

.contact__media {
  margin: 0 auto;
 display: flex;
 flex-direction: row;
 align-items: center;
}
.align {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.align i{
    font-size: 4rem;
    padding: 0.5ch;
}
#contact button{
    color: white;
    padding: 1ch 2ch;
    background-color: transparent;
}
.therapy {
    overflow-x: hidden;
    display: flex;
    justify-content:space-between;
    align-items:center;
    min-width: 100vw;
    padding: 0 1vh;

}
.description{
    max-width: 40vw;}
.options-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1ch;
    padding: 2ch 1ch;

}
.option{
    display: flex;
    justify-content: center;
    padding: 1ch 0;
    align-items: center;
    border: 1px solid #a8a5a5;
    box-shadow: 1px 1px 5px;
}
.option i{
    font-size: 2.5rem;
}
.option p{
    padding: 1ch;
    font-weight: 700;
}
.description h1{
font-weight: 800;
}
.vertical{
   text-orientation:mixed;
   writing-mode: vertical-rl;
   position: relative;
   vertical-align: center; 
   padding: 4ch 1ch;
   font-size: 1.5rem;
   border: 2px dashed #e827c5;
   font-weight: 800;
}
.therapy span{
    font-weight: 800;
}
.free{
    max-width: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1ch 1ch;
}
.free p{
    width: 25ch;
    padding: 2ch;
}
.free button{
    font-size: 1rem;
    padding: 1ch;
}
.profile__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.profile ul{
    list-style: none;
    padding: 0;
    display:  flex;
    justify-content: space-around;
}
.profile li{
padding: 2ch
}
.profile-card{
    width: 250px;
    height:500px;
    position: relative;
    
}
.profile-pic{
    width: 300px;
    height: 350px;
    overflow: hidden;
}
.profile-pic img{
    object-fit:cover;
    width:100%;
    height:100%;
}
.profile-detaile{ 
    background-color: white;
width:210px;
text-align: center;
position: absolute;
top: 310px;
left: 20px;
border-radius: 10px;
}
.profile-detaile hr{
    border: 2px solid #e827c5; 
    width:70px; 
    margin: 0 auto; 
    padding: 0;  
}
.profile-detaile button{
    color:#e827c5;
    padding: 1ch 2ch;
    margin: 0 auto;
    border: 1px solid #e827c5;
    border-radius: 10px;
    background-color: transparent;
}
.container {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    justify-items: center;
}
.testimonials{

    width: 40ch;
    margin-left:100px;
    display: flex;
    flex-direction: column;
}
.testimonials__center{
    width: 25ch;
    text-align: left;
    margin: 0 auto;
    padding: 2px;
    border-left: 1px solid #e827c5;
}
.profile__testemony {
    display: flex;
}
.pink-card{
    background-color: #e827c5;
    color: white;
}
.award {
    display: flex;
}
.award-1, .award-2{
    width: 45vw;
    height: 250px;
    margin: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.award-1{
    background-image: url(/images/award-1.webp);
}
.award-2{
    background-image: url(/images/award-2.webp);
}
.cover{
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 80px;
}
.cover i{
 font-size: 2rem;
}
.awards h1 {
    font-weight: 700;
    text-align: center;
}
.social-media ul {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content:center;
    margin: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 4rem;
    color: #383838;
}

.top-left{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left i{
    font-size: 3rem;
}

.login{

    font-size: 1.5rem;
    padding: 1ch 2ch;
}
.login input{
    font-size: 1.5rem
}
.footer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 2px;
}
.footer__middle{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__bottom ul{
    display: flex;
    justify-content: center;
}
.footer__bottom h1{
    font-weight: 800;;
}
footer hr{
    margin: 50px 0;
}
footer{
background-color:#01385f ;
color: white;
}